body{background: rgb(238, 167, 7);

  margin-left: 300px;
  margin-right: 300px;
}

body:before{
  width: 240px;
   height: 500%;
   content: "";
   position: absolute;
   top: 0;
   left: 0px;
   background:rgb(225, 227, 238); //右側の背景

}

body::after{
  width: 240px;
   height: 500%;
   content: "";
   position: absolute;
   top: 0;
   right: 0px;
   background:rgb(225, 227, 238); //左側の背景

}
