html{background-image:url("./rame.jpg");

}


body{
    background-color:rgba(238,255,238,0.95);
    margin-top: 30px;
    margin-bottom:30px;

}

hr{
    border-color: #e0a800;

}

div.hh{
    position:absolute;
    top: 100px;
    right: 370px;

}

div.ichi{
    position: absolute;
    top:10px;
}
